* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(67, 67, 67);
}

main {
  height: 100%;
  width: 100%;
  max-width: 1120px;
  margin: auto;
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 10px;
  gap: 10px;

  grid-template-areas:
    "top-left top-middle top-middle-2 top-right"
    "top-left middle-center middle-center top-right"
    "middle-left middle-center middle-center bottom-right"
    "bottom-left bottom-left bottom-center bottom-right";
}

main * {
  border-radius: 15px;
}

.top-left {
  background-color: purple;
  grid-area: top-left;
  position: relative;
}

.top-left img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.top-left img:nth-child(2) {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 15px;
  left: 15px;
  border-radius: 100px;
  background-color: red;
}

.top-left-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  overflow: hidden;
}

.top-left-info p {
  background-color: rgba(0, 0, 0, 0.382);
  padding: 5px 20px;
  font-size: 10px;
  color: white;
}

.top-left-info span {
  font-size: 15px;
  font-weight: bold;
}

.top-middle {
  background-color: rgb(255, 234, 0);
  grid-area: top-middle;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.top-middle .btns button {
  border: none;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 4px;
  background-color: black;
  color: white;
  font-size: 15px;
}

.top-middle-2 {
  background-color: rgb(227, 227, 227);
  grid-area: top-middle-2;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  padding-left: 10px;
}

.top-middle-2 p:nth-child(1) {
  font-size: 10px;
}
.top-middle-2 p:nth-child(2) {
  font-size: 25px;
  font-weight: bold;
}
.top-middle-2 p:nth-child(3) {
  font-size: 10px;
}
.top-middle-2 p:nth-child(4) {
  font-size: 20px;
}

.top-right {
  background-color: rgb(227, 227, 227);
  grid-area: top-right;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.top-right-1 p {
  font-weight: bold;
  font-size: 12px;
}

.top-right-3 {
  background-color: pink;
  width: 90%;
  height: 32%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 13px;
}

.top-right-3 p:nth-child(2) {
  font-weight: bold;
}

.middle-left {
  background-color: rgb(221, 221, 221);
  grid-area: middle-left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 10px 15px;
}

.middle-left > p {
  font-weight: bold;
}

.middle-left-bottom {
  display: flex;
  align-items: center;
  gap: 15px;
}

.middle-left-bottom img {
  height: 30px;
  width: 30px;
  border-radius: 100px;
}

.middle-left-bottom p {
  font-size: 11px;
  font-weight: bold;
}

.middle-center {
  background-color: rgb(231, 231, 231);
  grid-area: middle-center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.middle-center img {
  height: 100px;
  width: 100px;
}

.middle-center h1 {
  font-size: 80px;
  font-weight: 800;
}

.bottom-right {
  background-color: rgb(252, 159, 65);
  grid-area: bottom-right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.bottom-right .top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bottom-right .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.bottom-right .bottom button {
  padding: 8px 15px;
  border: none;
  background-color: yellow;
  font-weight: bold;
}

.bottom-left {
  background-color: rgb(199, 139, 148);
  grid-area: bottom-left;
  display: flex;
  justify-content: space-evenly;
}

.visit {
  display: flex;
  align-items: end;
}

.visit p {
  padding: 20px 30px;
  background-color: rgba(0, 0, 0, 0.43);
  color: white;
  margin-bottom: 20px;
  font-size: 30px;
}

.para {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.para p {
  font-weight: bold;
}

.para h1 {
  font-size: 45px;
}

.bottom-center {
  background-color: yellow;
  grid-area: bottom-center;
  overflow: hidden;
  object-fit: cover;
}

.bottom-center img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
